body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
   
    width:1000px;
    height: 811px;
}

.main_title {
    height:60px;
    display:block;
    margin: 0 auto 20px auto;
}

canvas {
    border: 2px solid black;
    display: block;
    margin: 0 auto;
}
#startButton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #0095DD;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#startButton:hover {
    background-color: #0077AA;
}